* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    background-image: url('../img/header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid black;
    height: 100px;
}

/*** CONTENT ***/
#content {
    display: flex;
    margin: 10px auto;
    max-width: 1460px;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

#paintModel, #chooseModel {
    width: 50%;
}

/*** Left page */
#paintModel {
    display: flex;
    flex-direction: column;
}

#majica, #sorc, #stucne {
    align-items: center;
    display: flex;
    margin-top: 20px;
}

#colorMajica, #colorSorc, #colorStucne {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 150px;
}

#modelMajica, #modelSorc, #modelStucne {
    width: 100%;
}

#modelMajica svg, #modelSorc svg, #modelStucne svg {
    width: 100%;
}

#modelMajica svg {
    height: 180px;
}

#modelSorc svg {
    height: 120px;
}

#modelStucne svg {
    height: 150px;
}

.text {
    padding: 10px;
    text-align: center;
}

.inputColors {
    height: 20px;
}

.arrowDown {
    background-image: url('../img/arrow_drop_down-24px.svg');
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    display: block;
    height: 20px;
    position: absolute;
    right: 15px;
    width: 20px;
}

.line {
    background-color: gray;
    display: block;
    height: 90%;
    width: 1px;
}

/*** Right page ***/
#chooseModel p {
    font-size: 26px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}

#page {
    display: flex;
    justify-content: space-around;
}

#page button {
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    width: 200px;
}

#page button:focus {
    border-bottom: 1px solid black;
    font-weight: bold;
    outline: none;
}

#models {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
}

#models svg {
    height: 100px;
    width: 33%;
}

.majice {
    height: 200px;
    width: 200px;
}

#description {
    display: flex;
    justify-content: space-around;
}

#description p {
    text-align: center;
    width: 33%;
}

.contentBtn {
    background-color: #cc0000;
    border: none;
    border-radius: 20px;
    bottom: -40px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
    position: absolute;
    right: 20px;
    width: 150px;
}

.btnBack {
    left: 10px;
}

/*** SECOND PAGE ***/
#leftPage, #rightPage {
    width: 40%;
}

#leftPage p {
    color: gray;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding: 20px;
}

#leftPage div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 30px;
}

#leftPage input {
    border: none;
    border-bottom: 1px solid gray;
    height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

#leftPage input:focus {
    border: none;
    outline: 1px solid gray;
}

#leftPage textarea {
    border: none;
    border-bottom: 1px solid gray;
    font-size: 20px;
    height: 300px;
    padding: 20px;
}

#leftPage textarea:focus {
    border: none;
    outline: 1px solid gray;
}

/*** Right page ***/
#rightPage p {
    color: gray;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
}

#table {
    margin-bottom: 20px;
    margin-right: 20px;
    max-height: 400px;
}

#headerTable {
    display: flex;
    width: calc(100% - 15px);
}

#headerTable p {
    text-align: center;
    margin-top: 0;
}

#bodyTable {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: scroll;
} 

#bodyTable p {
    align-items: center;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    margin: 0 20px;
    padding: 0;
    text-align: center;
}

.rowTable {
    display: flex;
    margin: 5px 0;
}

.select {
    border: none;
    border-bottom: 1px solid gray;
    height: 30px;
    margin: 0 20px;
    text-align: center;
    width: 10%;
}

.rowTable input {
    border: none;
    border-bottom: 1px solid gray;
    display: block;
    height: 30px;
    margin: 0 20px;
    text-align: center;
}

.size {
    width: 10%;
}

.name {
    width: 50%;
}

.number {
    width: 20%;
}

.rowTable input:focus {
    outline: none;
}

.add {
    background-color: white;
    background-image: url('../img/add-24px.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 40px;
    margin-left: 20px;
    width: 40px;
}

.add:focus {
    outline: none;
}

.delete {
    background-color: white;
    background-image: url('../img/remove-24px.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    height: 40px;
    width: 20%;
}

.delete:focus {
    outline: none;
}

.empty {
    display: block;
    height: 40px;
    width: 20%;
}