* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('../img/header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid black;
    height: 100px;
}

/* Left page */
#content {
    border: 1px solid black;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 1460px;
    height: 100%;
    width: 100%;
}

.modelSvg {
    display: block;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    width: 460px;
}

.colors {
    display: flex;
    justify-content: start;
    margin: 10px;
    margin-left: 40%;
}

.text {
    margin-left: 20px;
}

.arrowDown {
    background-image: url('../img/arrow_drop_down-24px.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    width: 20px;
}

/* Right page */
#paintModel, #chooseModel {
    width: 50%;
}

#chooseModel p {
    font-size: 26px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}

#page {
    display: flex;
    justify-content: space-around;
}

#page button {
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    width: 200px;
}

#page button:focus {
    border-bottom: 1px solid black;
    font-weight: bold;
    outline: none;
}

#models {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
}

.majice {
    height: 200px;
    width: 200px;
}


#btn {
    background-color: red;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 80%;
    padding: 10px 25px;  
}

/* Trenerke */
.bojaTrenerke {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

#selectTrenerka {
    border: 1px solid gray;
    margin: 0 auto;
    padding: 5px;
    position: relative;
    text-align: center;
    width: 300px;
}

#dropDown {
    background-color: white;
    border: 1px solid gray;
    display: none;
    left: 0;
    position: absolute;
    top: 28px;
    width: 300px;
    z-index: 5;
}

#selectTrenerka:hover #dropDown {
    display: block;
}

#kvadrat {
    background-color: red;
    height: 20px;
    left: 10px;
    position: absolute;
    width: 20px;
}

.strelica {
    background-image: url('../img/arrow_drop_down-24px.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
}

#dropDown div {
    padding: 5px;
    position: relative;
    text-align: center;
    width: 300px;
}

.kvadratRed {
    background-color: red;
    display: block;
    height: 20px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
}

.kvadratYellow {
    background-color: yellow;
    display: block;
    height: 20px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
}

.kvadratBlue {
    background-color: blue;
    display: block;
    height: 20px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
}